@media (max-height: 500px)
  .modal
    &__dialog
      &--visible
        height: 100%
        overflow-y: auto
@media (min-width: 993px)
  .logo__image
    &:hover
      transform: scale(1.1)
  .reviews
    &-slider
      &__button
        &--prev, &--next
          &:hover
            border-radius: 50%
            border: $dark 1px solid
            overflow: hidden
  .user__name, .breadcrump-list__link
    display: inline-block
    line-height: 1
    text-decoration: none
    cursor: pointer
    position: relative
    &::after
      display: block
      content: ""
      height: 1px
      width: 0%
      left: 50%
      position: absolute
      background-color: $dark
      -webkit-transition: width .3s ease-in-out
      -moz--transition: width .3s ease-in-out
      transition: width .3s ease-in-out
      -webkit-transform: translateX(-50%)
      -moz-transform: translateX(-50%)
      transform: translateX(-50%)
      margin-top: 2px
    &:hover::after, &:focus::after
      width: 100%
  .button
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0)
    outline-color: rgba(255, 255, 255, .5)
    outline-offset: 0px
    text-shadow: none
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
    &:hover
      box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2)
      outline-color: rgba(255, 255, 255, 0)
      outline-offset: 15px
      text-shadow: 1px 1px 2px #427388
  .navbar
    &-menu
      &__link
        display: inline-block
        line-height: 1
        text-decoration: none
        cursor: pointer
        position: relative
        &::after
          display: block
          content: ""
          height: 3px
          width: 0%
          left: 50%
          position: absolute
          background-color: #fff
          -webkit-transition: width .3s ease-in-out
          -moz--transition: width .3s ease-in-out
          transition: width .3s ease-in-out
          -webkit-transform: translateX(-50%)
          -moz-transform: translateX(-50%)
          transform: translateX(-50%)
          margin-top: 3px
        &:hover::after, &:focus::after
          width: 100%
  .footer
    &__link
      display: inline-block
      line-height: 0,5
      text-decoration: none
      cursor: pointer
      position: relative
      &::after
        display: block
        content: ""
        height: 1px
        width: 0%
        left: 50%
        position: absolute
        background-color: #fff
        -webkit-transition: width .3s ease-in-out
        -moz--transition: width .3s ease-in-out
        transition: width .3s ease-in-out
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        transform: translateX(-50%)
      &:hover::after, &:focus::after
        width: 100%
    &__bottom
      &-link
        display: inline-block
        line-height: 0,5
        text-decoration: none
        cursor: pointer
        position: relative
        &::after
          display: block
          content: ""
          height: 1px
          width: 0%
          left: 50%
          position: absolute
          background-color: #fff
          -webkit-transition: width .3s ease-in-out
          -moz--transition: width .3s ease-in-out
          transition: width .3s ease-in-out
          -webkit-transform: translateX(-50%)
          -moz-transform: translateX(-50%)
          transform: translateX(-50%)
        &:hover::after, &:focus::after
          width: 100%
    &__item
      a
        display: inline-block
        line-height: 0,5
        text-decoration: none
        cursor: pointer
        position: relative
        &::after
          display: block
          content: ""
          height: 1px
          width: 0%
          left: 50%
          position: absolute
          background-color: #fff
          -webkit-transition: width .3s ease-in-out
          -moz--transition: width .3s ease-in-out
          transition: width .3s ease-in-out
          -webkit-transform: translateX(-50%)
          -moz-transform: translateX(-50%)
          transform: translateX(-50%)
        &:hover::after, &:focus::after
          width: 100%
@media (max-width: 1200px)

  .container
    max-width: 960px
  .invalid
    font-size: 14px
  .hotel__slider
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .packages
    &-card
      &__info
        &__text
          margin-bottom: 35px
  .main-package
    &__info
      padding: 20px 20px 30px 20px
    &__image,
      min-width: 50%
  .footer
    &-wrapper
      margin-bottom: 56px
    &__input
      flex-basis: 100%
    &__bottom
      display: flex
      justify-content: space-between
      &-list
        margin-left: 0

@media (max-width: 992px)

  .container, .newsletter-wrapper
    max-width: 700px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px

    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    padding-left: 23px
    padding-top: 30px
    padding-right: 23px
    &__icon
      margin-right: 8px
    &__pricetag
      margin-bottom: -4px
    &__button
      padding-top: 16px
  .map
    width: 340px

  .reviews
    &-slider
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px

  .packages
    &-card
      &__info
        &__text
          flex-basis: 60%
          margin-bottom: 5px
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 20px
          // display: none

    &__title
      font-size: 32px
      margin-bottom: 60px
    &-wrapper
      grid-template-columns: 1fr 1fr
      // grid-template-columns: none
      column-gap: 20px
      row-gap: 20px
  .main-package
    flex-direction: column
    &__description
      display: flex
      justify-content: space-between
      margin-top: 0
    &__info
      padding: 5px 21px 30px 25px
      &__title
        margin-bottom: 5px
    &-card
      flex-direction: column
      grid-column-start: 1
      grid-column-end: -1
      &__info
        padding: 5px 23px 0 27px

    &__image
      border-radius: 8px 8px 0px 0px
      width: 100%
      height: 250px
      object-fit: cover
  .newsletter
    padding-top: 72px
  .reviews
    padding-top: 15px
    &__title
      letter-spacing: 0
    &-slider
      &__button
        &--prev
          top: 50%
          left: 0
        &--next
          top: 50%
          right: 0
      // &__avatar
      //   margin-right: 30px
      // &__userame
      //   margin-right: 30px
  .activities
    padding: 51px 0
    &__card-two
      margin-bottom: 27px
  .card
    &__title
      width: 200px
  .footer
    padding-top: 73px
    padding-right: 2px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      width: 96px
      height: 120px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 7
        align-self: center
    &__title
      &--inline
        margin-left: 28px
      &--mb-3
        margin-bottom: 35px
    &__categories
      grid-row: 2 / 3
      grid-column: span 4
    &__legal
      grid-column: 8
      margin-right: -30px
    &__additional
      grid-column: span 3
      margin-left: -105px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
        margin-top: 24px
        width: 539px
        padding-left: 3px
        margin-top: 18px
      &-form
        grid-row: 4
        grid-column: span 6
        width: 539px
        margin-top: 9px
        margin-bottom: 5px
        padding-left: 0
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
    &__icon
      // width: 24px
      &-wrapper
        margin-left: 0px
    &__item
      &--mb-2
        // margin-top: 21px
        margin-bottom: 9px
      &__email
        margin-top: 22px
    &-form
      padding-top: 0px
      padding-left: 2px
    &__input
      &-group
        flex-basis: 47%
    &__message
      margin-bottom: 21px
    &__bottom
      margin-top: -5px
      padding-left: 3px
      height: 9px
      &-link
        margin-right: 8px
  .modal
    &__dialog
      padding: 30px 60px

@media (max-width: 767px)

  .container
    max-width: 576px
    width: 92%

  .logo
    width: 99px
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin: auto
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 72px
      padding-top: 30px
      &--visible
        display: block
        overflow: scroll
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
    &-top
      padding-top: 28px
      padding-bottom: 28px

  .menu
    &-button
      display: flex
      height: 11px
      width: 16px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
    width: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
      padding-top: 5px
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .breadcrump
    margin-bottom: 0

  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 35px 0 87px 0
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 48%
    height: 255px

  .packages
    &__title
      font-size: 24px
      margin-bottom: 30px
    &-wrapper
      // grid-template-columns: none
      grid-template-columns: 1fr
      column-gap: 20px
      row-gap: 20px
    &-card
      // display: none
      flex-direction: column
      // grid-column-start: 1
      // grid-column-end: none
      &__info
        padding: 25px 25px 20px 25px
        &__room
          margin-bottom: 15px
        &__text
          display: none

      &__image
        // width: 100%
        height: 250px
  .main-package
    grid-column-start: 1
    grid-column-end: -1
    &__info
      padding: 18px 25px 20px 25px
      &__title
        margin-bottom: 10px
  .footer
    &__categories
      grid-column: span 2
    &__additional
      grid-column: span 2
      margin-left: 0
    &__social
      &-network
        grid-column: span 4
        margin-left: -50px

    &__legal
      grid-column: span 2

    &__input
      margin-top: 15px
      &-group
        flex-basis: 100%
    &__bottom
      font-size: 10px
      &-list
        margin-right: 0
        margin-left: 0
      &-link
        margin-right: 5px
  .modal
    &__dialog
      padding: 30px 40px
      width: 80%
    &-form
      display: grid
      justify-content: center
      grid-template-columns: 90%
    &__button
      grid-row: 10
    &__info
      grid-row: 9
      margin-bottom: 15px
@media (max-width: 576px)

  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 20px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 0px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        flex-direction: column
        grid-row: 2
        grid-column: 1
        width: 100%
        margin-left: 0
      &-links
        justify-content: start
    &__title
      &--inline
        margin-bottom: 20px
        margin-left: 0
    &__link
      margin-right: 10px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: start
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 100%
      &-form
        grid-row: 7
        grid-column: 1
        width: 100%
        &__info
          grid-row: 8
          grid-column: 1
    &__message
      width: 100%
      margin-bottom: 0
    &-form
      display: grid
      grid-template-columns: 100%
    &__button
      max-width: fit-content
    &__info
      grid-row: 4
      margin-top: 15px
      margin-bottom: 15px
    &__bottom
      flex-direction: column
      &-list
        margin-bottom: 10px
      &-link
        // font-size: 14px
  .invalid
    font-size: 12px
  .modal
    &__dialog
      width: 80%
    &-form
      grid-template-columns: 90%

// @media (max-width: 380px)
//   .footer
//     &__ul
//       width: 80%
@media (max-width: 450px)
  .container
    width: 87%
  .navbar
    &-menu
      &__item
        &--mobile
          &--visible
            width: 100%
@media (max-width: 350px)
  .search
    &__input
      &-group
        width: 100%
  .modal
    &-form
      grid-template-columns: 100%
@media (max-width: 340px)
  .hotel
    &-slider
      height: 179px
  .reviews
    &__title
      width: 245px
      margin: auto
      margin-bottom: 42px
  .modal
    &__dialog
      width: 90%
@media (max-width: 320px)
  .container
    width: 87%
  .navbar-top
    padding-top: 23px
    &__menu-button
      padding-right: 0px
      margin-top: 7px
  .breadcrump
    margin-top: -6px
  .stars
    padding-right: 15px
  .hotel
    &-right
      height: 403px
      min-height: 0px
    &-star
      margin-right: -2px
    &-info
      padding-bottom: 32px
      &__name
        margin-top: 6px
  .booking
    margin-bottom: 22px
    padding: 22px
    &__info
      padding-top: 7px
    &__price
      margin-bottom: 0
    &__pricetag
      margin-bottom: -4px
    &__call-center
      margin-bottom: 14px
  .newsletter
    height: 319px
    padding: 58px 0px 83px 0px
    &__title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      padding-left: 6px
    &-title
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
    &__subscribe
      padding-left: 5px
      padding-right: 10px
    &__button
      margin-right: 8px
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
  .subscribe
    &__button
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      padding-right: 4px
      margin-right: 8px
    &__input
      padding-left: 23px
  .reviews
    padding-top: 39px
    &__title
      letter-spacing: 0px
    &-slider
      &__text
        width: 219px
        text-align: left
      &__button
        &--prev
          left: 41%
        &--next
          right: 42%
  .activities
    padding-top: 82px
    padding-bottom: 40px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 35px
    &-wrapper
      width: 100%
    &__card-one
      order: 0
    &__card-two
      margin-bottom: 20px
      order: 2
    &__card-three
      order: 1
      margin-bottom: 29px
    &__card-four
      order: 3

  .footer
    padding-top: 69px
    padding-right: 100px
    &__ul
      width: 100%
      padding-top: 2px
    &__logo
      padding-left: 5px
      margin-bottom: -11px
    &__social
      &-network
        margin-bottom: -12px
        padding-left: 7px
      &-links
        padding-left: 4px
    &__legal
      padding-left: 6px
      margin-bottom: -10px
      margin-top: 2px
    &__categories
      margin-top: -10px
      margin-left: 7px
    &__additional
      padding-left: 8px
    &__title
      // margin-bottom: 11px
      &-cat
        margin-bottom: 19px
      &--mb-3
        margin-bottom: 33px
    &__contact
      &-details
        margin-top: 0
        margin-left: 1px
        width: 280px
      &-form
        margin-top: -2px
        margin-bottom: 4px
        padding-left: 5px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
    &__item
      &--mb-2
        margin-bottom: 20px
    &__icon
      // width: 24px
      &__phone
        margin-top: 4px
      &__email
        margin-left: 2px
      &-wrapper
        margin-right: -9px
        margin-left: 1px
        padding-left: 0
        padding-top: 4px
    &-form
      margin-top: -35px
      padding-left: 0px
      margin-right: -4px
      margin-bottom: 2px
      // padding-right: 7px
    &__button
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
    &-wrapper
      margin-bottom: 20px
    &__bottom
      padding-left: 5px
      margin-top: 0
      width: 281px
      height: 28px
      &-list
        margin-bottom: 13px
      &-link
        margin-right: 2px
