@media (max-width: 1200px)

  .container
    max-width: 960px

@media (max-width: 992px)

  .container
    max-width: 730px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto

    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    margin-right: 47px
  .search
    &__input
      width: 340px

@media (max-width: 768px)

  .container
    max-width: 576px
    width: 92%

  .logo
    width: 99px

  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px

  .menu
    &-button
      display: flex
      height: 11px
      width: 16px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
    width: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
      padding-top: 5px
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .breadcrump
    margin-bottom: 0
@media (max-width: 576px)

  .logo
    width: 99px
